<footer class="footer">
    <ul class="footer-columns">
        <li class="footer-column">
            <h6 class="footer-title">FTDI Alumni Platform</h6>
            <p class="footer-text">Brought to you by the Faculty of<br>
                Transdisciplinary Innovation at UTS</p>
        </li>
        <li class="footer-column">
            <h6 class="footer-title">Visit</h6>
            <span class="footer-image"></span>
        </li>
        <li class="footer-column">
            <h6 class="footer-title">Sitemap</h6>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Network</a></li>
            </ul>
            <ul>
                <li><a href="#">Events</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
            <ul>
                <li><a href="#">Opportunities</a></li>
            </ul>
        </li>
        <li class="footer-column">
            <h6 class="footer-title">Restricted Access</h6>
            <ul>
                <li><a href="#">Project</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
            <ul>
                <li><a href="#">Analytics</a></li>
            </ul>
        </li>
        <li class="footer-column">
            <p>Faculty of Transdisicplinary<br>
                Innovation &copy; 2017
            </p>
        </li>
    </ul>
</footer>
