<div class="profile-main">
    <div class="block-edit">
        <a routerLink="/profile/edit" class="icon icon-edit-circle-chunky button-edit"></a>
    </div>
    <section class="block-see-more section-journey">
        <h2 class="profile-main-title"><strong>Journey</strong> <span class="see-more"><a href="#">See more</a></span></h2>
        <app-profile-journey></app-profile-journey>
    </section>
    <section class="block-see-more profile-projects">
        <h2 class="profile-main-title"><strong>Projects</strong> <span class="see-more"><a href="#">See more</a></span></h2>
        <div class="project-cards">
            <div class="post-card-vertical">
                <app-post-card></app-post-card>
            </div>
            <div class="post-card-vertical">
                <app-post-card></app-post-card>
            </div>
            <div class="post-card-vertical">
                <app-post-card></app-post-card>
            </div>
        </div>
    </section>
    <section class="block-see-more profile-recent-activity">
        <h2 class="profile-main-title"><strong>Recent</strong> Activity <span class="see-more"><a href="#">See more</a></span></h2>
        <div class="recent-activity-cards">
            <div class="post-card-vertical">
                <app-post-card></app-post-card>
            </div>
            <div class="post-card-vertical">
                <app-post-card></app-post-card>
            </div>
            <div class="post-card-vertical">
                <app-post-card></app-post-card>
            </div>
        </div>
    </section>
</div>