<ul role="menu" class="sidebar-filter-item-menu">
    <li>
        <div class="block-filter block-margin block-filter-ftdi open" dropdown>
            <div class="block-title" dropdown-open>FTDI <span class="icon icon-caret-left"></span></div>
            <div class="row">
                <input type="checkbox" name="BCII" value="BCII" checked> <span class="label-checkbox">BCII</span><br>
                <input type="checkbox" name="BTI" value="BTI" checked> <span class="label-checkbox">BTI</span><br>
                <input type="checkbox" name="Animal Logic" value="Animal Logic"> <span class="label-checkbox">Animal Logic</span>
            </div>
        </div>
    </li>
    <li>
        <div class="block-filter block-margin block-filter-graduation open" dropdown>
            <div class="block-title" dropdown-open>Graduation Year <span class="icon icon-caret-left"></span></div>
            <div class="row">
                <input type="checkbox" name="2017" value="2017" checked> <span class="label-checkbox">2017</span><br>
                <input type="checkbox" name="2018" value="2018"> <span class="label-checkbox">2018</span><br>
                <input type="checkbox" name="2019" value="2019"> <span class="label-checkbox">2019</span><br>
                <input type="checkbox" name="2020" value="2020"> <span class="label-checkbox">2020</span>
            </div>
        </div>
    </li>
    <li>
        <div class="block-filter block-margin block-filter-faculty" dropdown>
            <div class="block-title" dropdown-open>Faculty <span class="icon icon-caret-left"></span></div>
            <div class="row">
                <input type="checkbox" name="BCII" value="BCII" checked> <span class="label-checkbox">BCII</span><br>
                <input type="checkbox" name="BTI" value="BTI" checked> <span class="label-checkbox">BTI</span><br>
                <input type="checkbox" name="Animal Logic" value="Animal Logic"> <span class="label-checkbox">Animal Logic</span>
            </div>
        </div>
    </li>
    <li>
        <div class="block-filter block-margin block-filter-location" dropdown>
            <div class="block-title" dropdown-open>Location <span class="icon icon-caret-left"></span></div>
            <div class="row">
                <input type="checkbox" name="BCII" value="BCII" checked> <span class="label-checkbox">BCII</span><br>
                <input type="checkbox" name="BTI" value="BTI" checked> <span class="label-checkbox">BTI</span><br>
                <input type="checkbox" name="Animal Logic" value="Animal Logic"> <span class="label-checkbox">Animal Logic</span>
            </div>
        </div>
    </li>
    <li>
        <div class="block-filter block-margin block-filter-sort" dropdown>
            <div class="block-title" dropdown-open>Sort <span class="icon icon-caret-left"></span></div>
            <div class="row">
                <input type="checkbox" name="BCII" value="BCII" checked> <span class="label-checkbox">BCII</span><br>
                <input type="checkbox" name="BTI" value="BTI" checked> <span class="label-checkbox">BTI</span><br>
                <input type="checkbox" name="Animal Logic" value="Animal Logic"> <span class="label-checkbox">Animal Logic</span>
            </div>
        </div>
    </li>
</ul>
