/* Image paths. */
$logo-uts: '~/assets/images/logo-uts.svg';
$logo-uts-ftdi: '~/assets/images/logo-uts-ftdi.svg';
$feature-hero: '~/assets/images/hero-home.svg';
$journey-arrow: '~/assets/images/journey-arrow.svg';

/* Icon paths. */
$icon-aeroplane: '~/assets/images/icon-aeroplane.svg';
$icon-graduation: '~/assets/images/icon-graduation.svg';
$icon-institution: '~/assets/images/icon-institution.svg';
$icon-somewhere: '~/assets/images/icon-somewhere.svg';
$icon-stardom: '~/assets/images/icon-stardom.svg';
$icon-suitcase: '~/assets/images/icon-suitcase.svg';
$icon-warning: '~/assets/images/icon-warning.svg';