@charset "UTF-8";

// Variables & Mixins
@import '~styles/partials/fonts';
@import '~styles/partials/variables';
@import '~styles/partials/mixins';
@import '~styles/partials/images';

.backdrop-clear {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: $zIndex-9 + 3;
    @include mq(tablet) {
        position: fixed;
    }
    .post-modal-box {
        background-color: $color-white;
        box-shadow: 1px 1px 15px 1px rgba($color-gray-base, 0.3);
        display: flex;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        @include mq(tablet) {
            left: calc(50% - 225px);
            top: 15%;
            width: 450px;
        }
    }
    .icon-remove {
        appearance: none;
        border: 0;
        background-color: transparent;
        height: 20px;
        position: absolute;
        right: 10px;
        padding: 5px;
        top: 5px;
        width: 20px;
        z-index: $zIndex-9 + 3;
        &:focus {
            outline: none;
        }
    }
    .post-card-vertical {
        display: none;
        @include mq(tablet) {
            display: flex;
            flex: 1;
        }
    }
    .post-modal-comments {
        border-left: 1px solid $color-gray-lighter;
        list-style: none;
        margin: 0;
        padding: 10px 20px 50px;
        width: 100%;
        z-index: $zIndex-9;
        @include mq(tablet) {
            padding: 10px 20px;
            width: 50%;
        }
    }
    .post-modal-comment {
        padding-bottom: 10px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .post-modal-poster-name {
        font-family: $font-family-base;
        font-size: 10px;
        font-weight: 700;
        margin-bottom: 2px;
    }
    .post-modal-poster-comment {
        font-size: 11px;
        margin-bottom: 2px;
    }
    .post-modal-poster-date {
        font-size: 9px;
        .reply {
            border-left: 1px solid $color-gray-darker;
            color: $color-gray-base;
            margin-left: 5px;
            padding-left: 5px;
        }
    }
    .post-modal-write-comment {
        background-color: $color-gray-lighter;
        bottom: 0;
        height: 30px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 100%;
        @include mq(tablet) {
            width: 50%;
        }
    }
    .post-modal-input {
        appearance: none;
        background-color: $color-white;
        border: 0;
        font-size: 12px;
        font-style: italic;
        height: 20px;
        margin: 5px auto;
        width: 85%;
        &:focus {
            outline: none;
        }
    }
}