<section class="block-see-more section-profile">
    <div class="profile-info">
        <div class="profile-pic">
            <img src="http://fillmurray.com/140/140" alt="Section Profile Picture" class="section-profile-pic" />
        </div>
        <div class="profile-block profile-details">
            <h1 class="profile-name">
                Sam Walker
            </h1>
            <div class="profile-title">
                Creative Intelligence &amp; Innovation <br/>
                Integrated Product Design
            </div>
            <div class="profile-year">
                Year of 2017
            </div>
            <div class="profile-location">
                <span class="icon icon-location"></span>
                Sydney, Australia
            </div>
        </div>
    </div>
    <div class="profile-block profile-connect">
        <h3 class="profile-subheader connect">
            Connect
        </h3>
        <ul class="connect-info">
            <li><span class="connect-label">m</span>0412 345 678</li>
            <li><span class="connect-label">e</span><a href="#">samwalker@optus.com</a></li>
            <li><span class="connect-label">w</span><a href="#">samwalker.gov.au</a></li>
        </ul>
    </div>
    <div class="profile-block profile-seeking">
        <h3 class="profile-subheader seeking">
            Seeking
        </h3>
        <p class="profile-info-text">
            Currently seeking interns to work with his very successful company, which he owns.
        </p>
        <a href="#" class="profile-info-see-more">
            See more
        </a>
    </div>
    <div class="profile-block profile-bio">
        <h3 class="profile-subheader bio">
            Bio
        </h3>
        <p class="profile-info-text">
            I am a creative legend who has a proven track record of innovating people’s lives. There have been many projects that have had more creative outcomes because of my input. I use methods & complexity to be creative &amp; innovative.
        </p>
    </div>
    <div class="profile-block profile-tribes">
        <h3 class="profile-subheader tribes">
            Tribes
        </h3>
        <ul>
            <li>
                <span class="tribe-badge entrepreneurship">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.5 49"><title>Tribe Badge</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="41.5 37.86 20.75 49 0 37.86 0 0 41.5 0 41.5 37.86"/></g></g></svg>
                </span>
                Entrepreneurship
            </li>
            <li>
                <span class="tribe-badge intrepreneurship">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.5 49"><title>Tribe Badge</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="41.5 37.86 20.75 49 0 37.86 0 0 41.5 0 41.5 37.86"/></g></g></svg>
                </span>
                Intrepreneurship
            </li>
            <li>
                <span class="tribe-badge knowledge">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.5 49"><title>Tribe Badge</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="41.5 37.86 20.75 49 0 37.86 0 0 41.5 0 41.5 37.86"/></g></g></svg>
                </span>
                Knowledge Creator
            </li>
        </ul>
    </div>
</section>
