<div class="post-card">
    <div class="post-card-inner">
        <div class="post-card-image" style="background-image: url('http://fillmurray.com/201/100');">
            <div class="icon icon-pencil-circle"></div>
            <div class="icon icon-remove-circle-inverse"></div>
            <div class="icon icon-plus-circle-inverse"></div>
            <h5 class="post-card-image-title">Hands In</h5>
            <div class="icon icon-share"></div>
        </div>
        <div class="post-card-info-inner">
            <div class="post-card-people">
                <img src="http://fillmurray.com/50/50" alt="Person 1" class="post-card-poster-image" />
                <img src="http://fillmurray.com/100/100" alt="Person 1" class="post-card-poster-image" />
                <img src="http://fillmurray.com/36/36" alt="Person 1" class="post-card-poster-image" />
                <div class="icon icon-plus-circle-inverse"></div>
            </div>
            <h5 class="post-card-title">Hands In</h5>
            <div class="post-card-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
            </div>
            <div class="post-card-tags">
                <div class="post-card-tag">
                    Technology
                </div>
                <div class="post-card-tag">
                    Design
                </div>
                <div class="post-card-tag">
                    Ideation
                </div>
            </div>
            <div class="post-card-data">
                <app-post-author></app-post-author>
                <app-post-activity-icons></app-post-activity-icons>
            </div>
        </div>
    </div>
</div>