<div class="journey-diagram">
    <div class="journey-arrow">
    </div>
    <div class="journey-milestones">
        <div class="journey-milestone graduation">
            <div class="journey-icon"></div>
            <div class="journey-text">
                Newington College<br>
                2008 - 2013
            </div>
        </div>
        <div class="journey-milestone institution">
            <div class="journey-icon"></div>
            <div class="journey-text">
                University of Technology, Sydney<br>
                2014
            </div>
        </div>
        <div class="journey-milestone relocation">
            <div class="journey-icon"></div>
            <div class="journey-text">
                University of Technology, Sydney<br>
                2014
            </div>
        </div>
        <div class="journey-milestone career">
            <div class="journey-icon"></div>
            <div class="journey-text">
                University of Technology, Sydney<br>
                2014
            </div>
        </div>
        <div class="journey-milestone ceo">
            <div class="journey-icon"></div>
            <div class="journey-text">
                University of Technology, Sydney<br>
                2014
            </div>
        </div>
        <div class="journey-milestone relocation">
            <div class="journey-icon"></div>
            <div class="journey-text">
                University of Technology, Sydney<br>
                2014
            </div>
        </div>
    </div>
</div>