@charset "UTF-8";

// Variables & Mixins
@import '~styles/partials/fonts';
@import '~styles/partials/variables';
@import '~styles/partials/mixins';
@import '~styles/partials/images';

/* Profile Page */

.app-profile-details {
    @include mq(tablet) {
        flex: 2;
        order: 1;
        padding-left: 2%;
    }
    @include mq(tablet-wide) {
        flex: 3;
        padding-left: 2%;
    }
}
.app-profile-section {
    @include mq(tablet) {
        flex: 4;
        order: 2;
        padding-left: 5%;
        padding-right: 5%;
    }
    @include mq(tablet-wide) {
        flex: 5;
    }
}