<div class="user-card">
    <div class="user-card-pic">
        <img class="user-card-image" src="http://fillmurray.com/280/280">
    </div>
    <div class="user-card-details">
        <h3 class="user-card-name">
            Bill Jorgensen
        </h3>
        <h4 class="user-card-title">
            Creative Intelligence &amp; Innovation<br>
            Integrated Product Design
        </h4>
        <ul class="user-card-data">
            <li class="user-card-datum">
                <span class="icon icon-graduation"></span>
                2019
            </li>
            <li class="user-card-datum">
                <span class="icon icon-location"></span>
                New York, United States of America
            </li>
            <li class="user-card-datum">
                <span class="icon icon-tribes"></span>
                <div class="tribe-bar entrepreneur">
                </div>
                <div class="tribe-bar intrepreneur">
                </div>
                <div class="tribe-bar knowledge">
                </div>
            </li>
        </ul>
    </div>
</div>