<div class="row row-statistics">
    <ul class="statistics-list">
        <li class="statistics-item">
            <div class="icon icon-person"></div>
            <div class="statistics-number">
                1500
            </div>
            <div class="statistics-text">
                People
            </div>
        </li>
        <li class="statistics-item">
            <div class="icon icon-company"></div>
            <div class="statistics-number">
                230
            </div>
            <div class="statistics-text">
                Companies
            </div>
        </li>
        <li class="statistics-item">
            <div class="icon icon-startup"></div>
            <div class="statistics-number">
                51
            </div>
            <div class="statistics-text">
                Startups
            </div>
        </li>
        <li class="statistics-item">
            <div class="icon icon-world"></div>
            <div class="statistics-number">
                18
            </div>
            <div class="statistics-text">
                Countries
            </div>
        </li>
        <li class="statistics-item">
            <div class="icon icon-cohorts"></div>
            <div class="statistics-number">
               5
            </div>
            <div class="statistics-text">
                Cohorts
            </div>
        </li>
    </ul>
</div>